.App {
  text-align: center;
}

nav {
  background-color: #444444;
  height: 50px;
  display: flex;
}

.navbar-item {
  padding: 0.4em;
  margin: auto 0;
}
.navbar-item:hover {
  background-color: #777777;
  font-size: calc(10px + 1.5vmin);
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: calc(10px + 1vmin);
}

.contact {
  max-width: 500px;
  margin: auto;

}